@charset "UTF-8";
/***************Default***************/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Quattrocento', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    line-height: 1.5;
    background-color: #fff;
    text-align: left;
}

h1 {
    padding: 1em 4%;
}

fieldset {
    padding: 1em 2%;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 95%;
}

legend {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    padding: .375em;
    text-align: left;
    color: #40291c;
}

div {
    padding: .75em;
}

p {
    padding-bottom: .5em;
}

input[type=number] {
    padding: .45em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

button {
    background-color: darkgray;
    padding: 10px;
    color: #fff;
    width: 225px;
    border-radius: 5px;
}

button:hover {
    background-color: #ccc;
    color: #fff;
}

.float {
    display: flex;
    flex-flow: row nowrap;
}

.float-one {
    margin-right: 2%;
}